ANIMAUX/.vs/ANIMAUX/v16/.suo
ANIMAUX/.vs/ANIMAUX/config/applicationhost.config
ANIMAUX/ANIMAUX/obj/Debug/ANIMAUX.csprojAssemblyReference.cache
*.config
ANIMAUX/.vs/ANIMAUX/v16/.suo
ANIMAUX/ANIMAUX/obj/Debug
ANIMAUX/ANIMAUX/bin
.vs
*.cache
