@{
    ViewBag.Title = "реестр";
}
<h2>@ViewBag.Title.</h2>
<h2>Тут будет таблица реестра с фильтрацией и сортировкой</h2>
<table class="table">
    <tr>
        <th>№</th>
        <th>Кличка животного</th>
        <th>Дата размещения объявления</th>
        <th>Пол животного</th>
        <th>Возраст</th>
        <th>Населенный пункт</th>
    </tr>

            <tr>
                <td>
                </td>

            </tr>
   
    </table>
